DATABASE_URL="postgresql://neondb_owner:npg_IQJo0valjhz9@ep-winter-morning-b58ewqb1-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="WBPro-2026-Secret-9xK7mP4qR8vN2sL6"
PORT="3000"
CORS_ORIGIN="*"
REDIS_URL="redis://localhost:6379"

WHATSAPP_SESSIONS_DIR="./sessions"
